html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}




.site-footer , #footer {
  background: linear-gradient(135deg, #5BC0BE, #3A506B);
  color: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1);
}

.site-footer a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.site-footer a:hover {
  color: #ffffff;
}
.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-link:hover {
  color: var(--color-primary);
}

.social-icons a:hover {
  color: var(--color-primary-dark);
}
