<!-- components/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light custom-navbar shadow-sm sticky-top" dir="rtl">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary-emphasis" href="index.html">جمعية أمل</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">

        <!-- Dropdown Example -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-link" href="#" role="button" data-bs-toggle="dropdown">
            عن الجمعية
          </a>
          <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
            <li ><a class="dropdown-item" href="#">من نحن</a></li>
            <li><a class="dropdown-item" href="#">المدير التنفيذي</a></li>
            <li><a class="dropdown-item" href="#">أعضاء مجلس الادارة</a></li>
            <li><a class="dropdown-item" href="#">أعضاء الجمعية العمومية</a></li>
            <li><a class="dropdown-item" href="#">كلمة رئيس مجلس الادارة</a></li>
            <li><a class="dropdown-item" href="#">الإطار الإستراتيجي</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link custom-link" href="#">المركز الإعلامي</a></li>
        <li class="nav-item"><a class="nav-link custom-link" href="#">الخدمات الالكترونية</a></li>
        <li class="nav-item"><a class="nav-link custom-link" href="#">التقارير السنوية</a></li>
        <li class="nav-item"><a class="nav-link custom-link" href="#">الحوكمة والشفافية</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-link" href="#" role="button" data-bs-toggle="dropdown">
            الاستشارات
          </a>
          <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
            <li><a class="dropdown-item" href="#">استشارة نفسية</a></li>
            <li><a class="dropdown-item" href="#">استشارة أسرية</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-link" href="#" role="button" data-bs-toggle="dropdown">
            التوظيف والتطوع
          </a>
          <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
            <li><a class="dropdown-item" href="#">فرص تطوعية</a></li>
            <li><a class="dropdown-item" href="#">الوظائف</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-link" href="#" role="button" data-bs-toggle="dropdown">
            التوعية
          </a>
          <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
            <li><a class="dropdown-item" href="#">مقالات</a></li>
            <li><a class="dropdown-item" href="#">ورش عمل</a></li>
            <li><a class="dropdown-item" href="#">مبادرات</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link custom-link" href="#">الشركاء</a></li>
        <li class="nav-item"><a class="nav-link custom-link" href="#">اتصل بنا</a></li>
      </ul>
    </div>
  </div>
</nav>


<link rel="stylesheet" href="css/navbar.css">
